.navbar-default {
  border: none;
  background-color: #F9EFCC;
  opacity: .96;
}

.navtop-margin {
	padding-top: .5em;
}

.footer {
  border: none;
  background-color: #F9EFCC;
  opacity: .96;
}

.form-large{
  font-size: 1.75em;
  padding-bottom: .5em;
}

