.navbar-default {
  border: none;
  background-color: #BD1E23;
  opacity: .96;
}

.navtop-margin {
	padding-top: .5em;
}

.footer {
  border: none;
  background-color: #BD1E23;
  opacity: .96;
}

.form-large{
  font-size: 1.75em;
  padding-bottom: .5em;
}

.body{
  background-color: #ffffff;
}

.btn-default{
	color: #670a0a;
	background-color: #f0efee;


}

.btn-default:hover{
  background-color: #fffaf0;
  color: #670a0a;
}

.navbar-default .navbar-nav>li>a{
	color:#fffaf0;
}