.navbar-default {
  border: none;
  background-color: #1abddf;
  opacity: .96;
}

.navtop-margin {
  padding-top: .5em;
}

.footer {
  border: none;
  background-color: #1abddf;
  opacity: .96;
  color:#fffaf0;
}

.form-large{
  font-size: 1.75em;
  padding-bottom: .5em;
}


.body{
  background-color: #fffefc;
}

.btn-default{
  color: #1abddf;
  background-color: #f0efee;
  
}

.navbar-default .navbar-nav>li>a{
  color:#fffaf0;
}

.btn-dropdown {
  width: 65em;
}

.dropdown-menu {
  width: 65em;
}