.navbar-default {
  border: none;
  background-color: #36afcf;
  opacity: .96;
}

.navtop-margin {
	padding-top: .5em;
}

.footer {
  border: none;
  background-color: #36afcf;
  opacity: .96;
}

.form-large{
  font-size: 1.75em;
  padding-bottom: .5em;
}

body {
    background-color: #f1e7da;
} 

.body{
  background-color: #f1e7da;
}

.btn-default{
	color: #36afcf;
	background-color: #f0efee;
  
}

.navbar-default .navbar-nav>li>a{
	color:#fffaf0;
}

.btn-dropdown {
  width: 65em;
}

.dropdown-menu {
  width: 65em;
}

.text-muted {
  color: #ffffff;
}

.input-group-addon {
  color: #36afcf;
}